/*------------- table -------------------*/
p.tableHeader span.small, p.tableHeader span.small select {
    text-transform: uppercase;
}
p.tableHeader {
    margin-bottom: 4px;
    position: relative;
}

p.tableHeader span {
    display: inline-block;
}

table {
    width: 100%;
}
table tbody {
     font-size: 13px;
}

table thead th {
    font-family: NewsGothicBT-Demi;
    background-color: #6842a5;
    color: #DFDEE2;
    text-align: left;
    font-size: 14px;
    border-right: 1px solid #552C83;
}

table thead th.firstCol {
    color: white;
}


table tbody {
    color: #666666;
}

table tbody th, table tbody td, table tfoot td {
    border-right: 1px solid #DFDEE2;
}

table tbody tr {
    border-top: 1px solid white;
    background-color: #F9F9F9; 
}

table tbody tr:first-child {
    border-top: 0;
    text-align: left;
}

table tbody th {
    text-align: left;
}

table tbody th, table tbody td ,table tfoot th  {
    padding: 8px;
    font-weight: 100;
    text-align: left;
}

table thead th, table thead td {
    padding: 8px 16px;
    font-weight: 100;
}

table tbody span {
    display: block;
}

table tbody tr:nth-child(even) {
    background-color: #F0F0F2;
}

table .evens, tr.evens {
    background-color: #F0F0F2;
}

.dataTables_info {
    float: left;
    margin-top: 8px;
}
.dataTables_paginate {
    float: right;
    margin-top: 16px;
}

.grid-footer td{
    padding: 0;
    padding-top: 16px;
    text-align: right;
}


.dataTables_paginate a, tfoot a,.tableFilters a {
    padding: 8px ;
    border: solid #D6D6D6 1px;
    color: #199E8E;
    margin-left: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
tfoot tr {
    border-spacing: 2px;
}

.dataTables_paginate span a {
    border: none;
    padding: 0;
}

.dataTables_paginate,tfoot,.dataTables_paginate a:hover,tfoot a:hover,.tableFilters a:hover {
   color: #6842a5;
}


.dataTables_paginate a.selected,.dataTables_paginate a.selected:hover,tfoot a.selected,.tableFilters a.selected {
    color: #6842a5;
   border: solid #6842a5 1px;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
    text-transform: uppercase;
}



.dataTables_filter {
    float: left;
    display: none;
}

.dataTables_length{
    float: right;
    display: none;
}

.tableFilters {
    text-align: right;
    margin-top: 8px;
    padding-bottom: 4px;
}

table th.sorting {
    cursor: pointer;
}

table th.sorting_asc {
    background: url('/content/images/table-ascending.png') #6842a5 no-repeat right center;
    cursor: pointer;
}

table th.sorting_desc {
    background: url('/content/images/table-descending.png') #6842a5 no-repeat right center;
    cursor: pointer;
}

a.paginate_button_disabled, a.paginate_button_disabled:hover {
    color: #999999;
    cursor: default;
}
/*--------------------------------------*/