@using System.Collections.Generic
@using System.Configuration

@model List<CustomerSurvey.Dto.Employee>

@{
    ViewBag.Title = "Unique links for employees";
}

<h2>Unique links for employees</h2>
@Html.ActionLink("Add Unique Link", "Create", "Employee")
<br/><br/>

@{
    WebGrid grid = new WebGrid(rowsPerPage: 100, ajaxUpdateContainerId: "container-grid");
    grid.Bind(Model,
              autoSortAndPage: false,
              rowCount: Model.Count
    ); 
}


<div id="container-grid">
@grid.GetHtml(
    fillEmptyRows: false,
    alternatingRowStyle: "alternate-row",
    headerStyle: "grid-header",
    footerStyle: "grid-footer",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {
        grid.Column("FirstName", header: "First Name", canSort: false),
        grid.Column("LastName", header: "Last Name", canSort: false),
        grid.Column(null, "Unique Link", format: (item) => new HtmlString("<a href='" + item.UniqueLink + "'>" + item.UniqueLink +"</a>"))
        })
    </div>